@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: 400;
    text-align: left;
    background-color: #f8f6f0;
}
#header {
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    background-color: #444;
    color: #fff;
}
.question {
    font-size: 20px;
    /*padding: 50px 50px 0;*/
    margin-bottom: 10px;
}
.answers  {
    /*padding: 0px 50px 50px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}
.answers label {
    display: block;
    margin-bottom: 10px;
}
button {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover {
    background-color: #38a;
}

.buttons {
    text-align: right;
}

input[type="text"] {
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}
td {
    padding: 20px 10px;
    border: 2px solid black;
}





.slide {
    position: relative;
    width: 100%;
    display: none;
    transition: opacity 0.5s;
    margin-bottom: 50px;
}
.active-slide {
    display: inline-block;
}
.result-border {
    padding: 5px;
    border: 2px solid black;
}
.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}

#quiz {
    background-color: #fff;
    border: 1px solid #0000000f;
    border-radius: 3px;
    padding: 50px;
    width: 700px;
    margin: 20px auto;
}

#nav-wrapper {
    height: 31px;
    background-color: #fff;
}

#nav-wrapper #nav {
    height: 31px;
    padding: 20px 20px;
    text-align: center;
    background-color: #fff;
    border-bottom: 2px solid #0000000f;
}

#nav-wrapper #nav.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

#nav span {
    display: inline-block;
    font-weight: 300;
    margin: 0px 5px;
    padding: 3px;
    cursor: pointer;
}

.active-span {
    position: relative;
    border: 1px solid #279;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

#again {
    display: none;
}
